body {
    margin: 0px;
    font-family: "Gill Sans", sans-serif;
} 

.header {
    padding: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #9ca1b0;
    
}

.header-left img{
    width: 170px;
    
}

.header-left > div a:link, .header-right > div a:link{
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.header-left > #volunteer a:hover{
    color:#5ac4f3 ;
}

.header-left > #donor a:hover{
    color: #e5007d;
}


.header-left div{
    text-transform: uppercase;
    font-weight: 600;
    
}

.header-left, .header-right{
    display: flex;
    align-items: center;
}

.header-left > *, .header-right > *{
    margin: 10px;
}

.donation, .sign-up{
    font-weight: 550;
    color: white;
    transform: rotate(-25deg);
    font-size: 20px;
    text-transform: uppercase;
}



.donation{
    display: table-cell;
    text-align: center;
    background: #e5007d;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    vertical-align: middle;
    
}

.sign-up{
    display: table-cell;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #5ac4f3;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    vertical-align: middle;
}


.navbar-list {
    justify-content:center;
    width: 100%;
    font-weight: 600;
}

.row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9ca1b0;
      
}

.navbar-list > ul > a:link {
    text-decoration: none;
    transition: color .3s, background-color .3s;
}

.navbar-list > ul > a:hover {
    color: #e5007d;
}

  
.content{
    padding-top: 50px;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 30px;
    margin: 20px;
    gap: 30px;
}


.card {
border-radius: 25px;
-webkit-box-shadow: 0px 0px 20px 3px rgba(207, 207, 207, 1);
-moz-box-shadow: 0px 0px 20px 3px rgba(207, 207, 207, 1);
box-shadow: 0px 0px 20px 3px rgba(207, 207, 207, 1);
padding: 20px;
align-items: center;
}


.full-row {
grid-column: 1/4;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
background-color: #5ac4f3;

}

.one, .two, .three, .full-row{
    font-size: large;
}

.one, .three{
    background-color:#e5007d;
}

.two{
    background-color: #5ac4f3;
    font-size: 110px;
    padding-top: 55px;
    padding-left: 230px;
    color: white;
}

.aide-alimentaire{
    border: solid 1px black;
    display: block;
}

.footer{
    border-top: solid 1px black;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.footer svg{
    height: 30px;
}

.bi-facebook {
    padding: 1px;
    border: 2px solid;
    border-radius: 20px;
    transition: all 0.3s ease-out;
    text-decoration: none;
    
}

/*.bi-facebook:hover,
.bi-facebook:focus {
  color:#385898;
}*/

.bi-twitter{
    color: rgb(29, 155, 240);
}

.bi-youtube{
    color: rgb(255, 0, 0);
}

.bi-linkedin{
    color: #0a66c2;
}

.bi-instagram{
    padding: 1px;
    color: rgb(255, 220, 128);
    border: solid 1px;
    background: rgb(225, 48, 108);
    border-radius: 9px;
}

